@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,100&family=Montserrat:wght@200;600&family=Poppins:wght@100;400;500&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

.sec-header {
        align-items: center;
        height: 120px;
        background-color: white;
        color: black;
        display: flex;
        justify-content: space-around;

        h1 {
            font-size: 40px;
            .learn {
                margin-right: 12px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .teach {
                margin-left: 12px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
        h3 span {
            font-size: 20px;
            display: block;
            text-transform: uppercase;
        }
        .small {
            width: 70%;
            margin-top: 8px;
        }

}


